/*
Syntax error: Invalid CSS after "...-bottom: -50px;": expected "}", was "<<<<<<< HEAD"
        on line 110 of assets/scss/style.scss

105: 	@include gradl($topbar_grad);
106: 	background-color: $topbar_color;
107: 	//border-bottom: 1px solid #000;
108:     box-shadow: black(0.6) 0 0 3px 0;
109:     margin-bottom: -50px;
110: <<<<<<< HEAD
111:     position: relative;
112: =======
113: >>>>>>> e131a9fbafc8a0beb126d7bd1c55e97498e94799
114:     z-index: 1;
115: 	height: $topbar-ht;

Backtrace:
assets/scss/style.scss:110
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1184:in `expected'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1120:in `expected'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1115:in `tok!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:560:in `block'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:553:in `ruleset'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:577:in `block_child'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:570:in `block_contents'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:102:in `stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:39:in `parse'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:389:in `_to_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:351:in `_render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:282:in `render_with_sourcemap'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:307:in `update_stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:179:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.149/lib/sass/plugin/compiler.rb:262:in `block in watch'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-bottom: -50px;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 110 of assets/scss/style.scss\A \A 105: 	@include gradl($topbar_grad);\A 106: 	background-color: $topbar_color;\A 107: 	//border-bottom: 1px solid #000;\A 108:     box-shadow: black(0.6) 0 0 3px 0;\A 109:     margin-bottom: -50px;\A 110: <<<<<<< HEAD\A 111:     position: relative;\A 112: =======\A 113: >>>>>>> e131a9fbafc8a0beb126d7bd1c55e97498e94799\A 114:     z-index: 1;\A 115: 	height: $topbar-ht;"; }
