/* Typography */
$h1: 30px;
$h2: 24px;
$h2_ff: "LatoBold";
$h3: 18px;
$h3-comments: 18px;
$h4: 15px;


$head_font: "LatoBold";
$head_font_url: "assets/fonts/Lato-Bol-webfont.svg";
$head_font_weight: normal;

$body_font: "PTSerifRegular";
//$body_font: "Georgia",serif;
//$body_font: Verdana, Arial, Helvetica, sans-serif;
$body_fontsize: 15px;

$recentposts_fontfamily: "SourceSansProRegular";

$nav_fontsize: 14px;
$abbr_fontsize: 8px;
$pre_fontsize: 13px;
$p-unstyled_fontsize: 13px;
$breadcrumbs_fontsize: 12px;
$footer_fontsize: 11px;

$postdate_ff: "PTSansNarrowRegular";
$postdate_fz: 14px;
$blockquote_fz: 14px;
$postmeta_fz: 13px;
$navigation_fz: 12px;

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: $head_font;
      src: url($head_font_url) format("svg");
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: "fontello";
      src: url("assets/fonts/fontello.svg?40378300#fontello") format("svg");
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: "LatoBold";
      src: url("assets/fonts/Lato-Bol-webfont.svg#LatoBold") format("svg");
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
     font-family: "OpenSansRegular";
     src: url("assets/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
     font-weight: normal;
     font-style: normal;
  }
  @font-face {
      font-family: "OpenSansSemibold";
      src: url("assets/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
    font-family: "OpenSansBold";
    src: url("assets/fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SourceSansProRegular";
    src: url("assets/fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "PTSansNarrowRegular";
    src: url("assets/fonts/PTN57F-webfont.svg#PTSansNarrowRegular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "League Gothic";
    src: url("assets/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/*---:[ global typography elements ]:---*/
a {
    color: #000;
	text-decoration: none;
	&:hover { color: #000; }
	&:visited { color: #000; }
}
a img {
	border: none;
}
blockquote {
	border-left: 3px solid #a90000;
	color: #555;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0 0 20px 20px;
	padding: 0 0 0 10px;
}
abbr, acronym {
	@include rem($abbr_fontsize);
	border-bottom: 1px dotted #999;
	cursor: help;
	letter-spacing: 1px;
	text-transform: uppercase;
}
code {
	color: #090;
	font-family: Courier, "Courier New", monospace;
	line-height: 1.1;
}
pre {
	@include rem($pre_fontsize);
	margin: 0 0 15px 0;
	padding: 8px;
	overflow: auto;
	background: #ececec;
}
p.unstyled {
	@include rem($p-unstyled_fontsize);
}
p.center {
	text-align: center;
}
#breadcrumbs {
	@include rem($breadcrumbs_fontsize);
	padding-bottom: 3px;
}

/*---:[ headlines ]:---*/
h1, h2, h3, h4 {
	color: $heading_color;
	letter-spacing: 0px;
	line-height: 1.1;
	font-family: $head_font;
	font-style: normal;
	font-weight: $head_font_weight;
	padding: 0;
	margin: 0 0 8px;
}
h1 {
	@include rem($h1);
	margin-top: 15px;
}
h2 {
	@include rem($h2);
	margin-top: 20px;
}
h1 a, h1 a:visited, h2 a, h2 a:visited {
	color: $heading_color;
}	
h3 {
	@include rem($h3);
	color: #222;
	margin-top: 20px;
}
h4 {
	@include rem($h4);
	font-family: "League Gothic";
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: "icomoon";
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
[class^="icon-ello"]:before, [class*=" icon-ello"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
.icon-ellodesktop-1 {
	margin-right: 0.4em;
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.icon-elloup-open-1 {
    @include rem(16px);
    background-color: $topbar_color;
    color: #FFF;
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    margin: 0;
    line-height: 2.1em;
    //padding-bottom: 2px;
    width: 40px;
    text-align: center;
}
.icon-elloandroid-1:before { content: "\e803"; }
.icon-ellogamepad:before { content: "\e80d"; }
.icon-ellochrome:before { content: "\e842"; }
.icon-elloflow-split:before { content: "\e84b"; }
.icon-ellowindows:before { content: "\e804"; }
.icon-ellodesktop-1:before { content: "\e811"; }
.icon-ellosearch-6:before { content: "\e81d"; }
.icon-elloup-open-1:before { content: "\e81e"; }
